# shellcheck shell=ash

export HOME=${MODDIR}
export KAM_HOME=${KAM_HOME:-${MODDIR}}
export KAMFW_DIR=${MODDIR}/lib/kamfw
export KAM_MODULES=${KAM_MODULES:-""}
export KAM_LOGFILE=${MODDIR}/kam.log
export MAGIC_MIHOMO="${MAGIC_MIHOMO:-1}"
export MAGIC_SINGBOX="${MAGIC_SINGBOX:-1}"
export MAGIC_HOTSPOT_FORWARD="${MAGIC_HOTSPOT_FORWARD:-1}"
export MAGIC_VPN_COEXIST="${MAGIC_VPN_COEXIST:-0}"
